<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @driver.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @driver.last_name %>
</p>

<p>
  <strong>Haslicense:</strong>
  <%= @driver.hasLicense %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @driver.birth_year %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
